node_modules/
/playwright-report/
/playwright/.cache/
.env
artifacts/
allure-results/
allure-report/
.idea
/snapshots/
debug.spec.ts
playwright.config.ts
test-results
dist
.husky
tsconfig.json
eslint.config.mjs